<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="game">
        <div class="grid">
            <div v-for="(_, y) in 8" class="row">
                <div v-for="(_, x) in 8" class="col" :class="getClassOf(x, y)" @click="place(x, y)">
                </div>
            </div>
        </div>
        <p>{{gameInfo}}</p>
    </div>
    <script src="othello.js"></script>
    <script src="ai.js"></script>
    <script>
        const game = new Othello()
        
        new Vue({
            el: '#game',
            data: {
                game,
                validPos: game.getValidPos(),
            },
            methods: {
                getClassOf(x, y) {
                    const s = this.game.grid[y][x]
                    if (this.validPos.some(pos => pos.x === x && pos.y === y)) return ['hint']
                    if (s === 'b') return ['black']
                    if (s === 'w') return ['white']
                },
                place(x, y) {
                    if (this.game.place(x, y)) {
                        this.validPos = this.game.getValidPos()
                        if (this.validPos.length === 0) {
                            this.game.switch()
                        } else {
                            this.runAI()
                        }
                    }
                },
                runAI() {
                    setTimeout(() => {
                        this.validPos = this.game.getValidPos()
                        if (this.validPos.length === 0) return

                        const result = AI(this.game)
                        game.place(result.x, result.y)

                        this.validPos = this.game.getValidPos()
                        if (this.validPos.length === 0) {
                            this.game.switch()
                            this.runAI()
                        }
                    }, 1000)
                }
            },
            computed: {
                gameInfo() {
                    let w = 0
                    let b = 0
                    for (let y = 0; y < 8; y++) {
                        for (let x = 0; x < 8; x++) {
                            if (this.game.grid[y][x] === 'w') w++
                            if (this.game.grid[y][x] === 'b') b++
                        }
                    }
                    return `${b} : ${w}`
                }
            }
        })
    </script>
</body>
</html>